<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS: Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" />

    <title>COL 362/632 - Project 1 - Demo Flask App</title>

    <style>
        .container {
            width: auto;
            /* max-width: 680px; */
            padding: 0 15px;
        }

        .footer {
            background-color: #f5f5f5;
        }
    </style>
</head>

<body class="d-flex flex-column h-100"  >

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Python + flask + psycopg2 + Bootstrap</h1>
                <p style="margin-top: 25px;">
                    This is a demo application created using Python, Flask, Psycopg2, and Bootstrap templates.
                </p>
            </div>
        </div>

        <div class="container">
            <h2 class="mt-5 ">Playstore Reviews Sentiment Analysis</h1>
            <p class="lead">Showing the results of: SELECT * FROM playstore ORDER BY random() LIMIT 25</p>


            <table class="mt-5 table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">App Name</th>
                        <th scope="col">Review</th>
                        <th scope="col">Sentiment</th>
                        <th scope="col">Polarity</th>
                        <th scope="col">Subjectivity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td scope="row">{{row[1]}}</td>
                        <td scope="row">{{row[2]}}</td>
                        <td scope="row">{{row[3]}}</td>
                        <td scope="row">{{row[4]}}</td>
                        <td scope="row">{{row[5]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">
                Built by
                <a href="https://github.com/dufferZafar" target="_blank">@dufferZafar</a> and
                <a href="https://github.com/hthuwal" target="_blank">@hthuwal</a>
                using
                <a href="http://flask.pocoo.org" target="_blank">Flask</a>,
                <a href="https://getbootstrap.com/docs/4.2/" target="_blank">Bootstrap</a>,
                <a href="https://code.visualstudio.com" target="_blank">VSCode</a>.
            </span>
        </div>
    </footer>

</body>

</html>
