<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS: Bootstrap -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" />

    <!-- CSS: Dropzone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css" />

    <title>COL 362/632 - Project 1 - Data Dump Upload</title>

    <style>
        /* body {
            background-color: #646C7F;
        } */

        #dropper {
            border: 2px dashed #0087F7;
            border-radius: 5px;
            background: white;
            cursor: pointer;
            margin-top: 20%;
        }

        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
        }

        .footer {
            background-color: #f5f5f5;
        }

    </style>
</head>

<body class="d-flex flex-column h-100"  >

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Project 1 - Data Dump Upload</h1>

            <h4 style="margin-top: 15px;">Logged in as: Group {{group}}</h4>

            <!-- The DropZone Form -->
            <form method="POST" action="/" class="dropzone dz-clickable" id="dropper"
                enctype="multipart/form-data">

                <div class="dz-message needsclick">
                    Drop your dump file here or click to upload.
                </div>
            </form>

            <div class="alert alert-danger" id="error" style="display: none;">
                <strong>Error Occurred: Reload the page, and try uploading again!</strong>
                <p id="errmsg" style="margin-top: 15px;"></p>
            </div>

            <div class="alert alert-success" id="success" style="display: none;">
                <strong>Database has been uploaded successfuly!</strong>
            </div>

        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">
                Built by
                <a href="https://github.com/dufferZafar" target="_blank">@dufferZafar</a> and
                <a href="https://github.com/hthuwal" target="_blank">@hthuwal</a>
                using
                <a href="http://flask.pocoo.org" target="_blank">Flask</a>,
                <a href="https://dropzonejs.com" target="_blank">Dropzone</a> &
                <a href="https://code.visualstudio.com" target="_blank">VSCode</a>.
            </span>
        </div>
    </footer>

    <!-- Dropzone JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"> </script>

    <script type="application/javascript">
        Dropzone.options.dropper = {
            url: "/",
            timeout: 1800000, // ms

            maxFilesize: 4096, // MB

            chunking: true,
            forceChunking: true,
            chunkSize: 1000000, // bytes
            // retryChunks: true, // This will require changes in Python code as well?

            maxFiles: 1,

            paramName: "file"
        }

        var mydropzone = new Dropzone("#dropper");

        mydropzone.on("error", function (obj, msg, xhr) {
            document.querySelector("#error").style.display = "block";
            document.querySelector("#errmsg").textContent = msg;
        });

        mydropzone.on("success", function (obj) {
            document.querySelector("#success").style.display = "block";
        });
    </script>
</body>

</html>
